#tatr-box{
	position: relative;
	display: block;
	width: 70%;
	height: 661px;
  	margin: auto;
}
#tatr-annotations{
	position: absolute;
	top:0;
	left:0;
	z-index: 200;
}
.tatr-baseimg{
	width: 100%;
	height: auto;
	z-index:100;
}

#tatr-texts{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tatr-text{
	  position: absolute;
	  z-index: 300;
	  background: #444;
	  color: #fff;
	  margin: 5px;
	  padding: 5px;
	  max-width: 10%;
	  display: none;
}

.tatr-text.active{
	display: block;
}

.tatr-shapes{
	fill:rgba(0,0,0,0);
}
.tatr-shapes:hover{
	stroke:white;
}
.tatr-text.social{
	background: none;
	color: white;
}