#tatr-box{
	position: relative;
	display: block;
	height: 600px;
}
#tatr-annotations{
	position: absolute;
	top:0;
	left:0;
}
.tatr-baseimg{
	width: 100%;
	height: auto;
}

#tatr-texts{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tatr-text{
	position: absolute;
}